@mixin size-boton {
    text-decoration: none;
    background-color:#B778AB ;
    box-shadow: 5px 5px 15px black;
    color: black;
    border-radius: 20px;
    font-weight: 600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../imagenes/fondo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;

    display: grid;
        grid-template-areas: 
        "header"
        "main "
        "main"
        "footer";
        grid-template-columns: auto;

  
    
    @media screen and (max-width: 768px) {
        
        body {
                grid-template-areas: 
                "header"
                "main"
                "servicios"
                "footer";
                grid-template-columns: auto;
        }

    }
   

    header {
    
        top: 0;
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        grid-area: header;
        overflow: -x hidden;

        .navbar {
            padding: 0px;
            box-shadow: 4px 4px 15px black;
            background-color: #58677c;

            .container-fluid {
               background: linear-gradient(to left, violet, blueviolet);    
            }
                    
            a {
                font-weight: 500;
                color: black;
                text-shadow: 3px 3px 15px black;

                &:hover {
                    transform: scale(1.1);  
                    color: white;
                }
            }
        }
        
        
        nav {
            padding: 0px;
        }

        img {
            height: 90px;
            width: auto;
            padding: 5px;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .main {
        grid-area: main;

        .mainservicios {
            align-items: center;
            text-align: center;
            padding-top: 150px;
            text-shadow: 2px 2px 15px black;
            font-family: 'Source Code Pro', monospace;

            .op {
                color: white;
                font-weight: 600;
                max-width: 700px;
                margin: 0 auto;
            }

            a {
                background-color: rgb(67, 65, 68);
                color: white;
                box-shadow: 2px 2px 15px black;
                text-decoration: none;
                font-weight: 600;
            }

            .boton {
                @include size-boton();
                padding: 4px 20px;
                margin: 15px 0;
                display: inline-block;

                &:hover {
                    transform: scale(1.1);
                }
            }

            p {
                margin: 20px;
                color: white;
                text-shadow: 5px 5px 15px black;            
            }

           
        }

        .servicios {
            grid-area: servicios;

            .services {
                padding-bottom: 50px;
                display: flex;
                justify-content: center;
                color: white;
                text-shadow: 2px 2px 15px black;
                text-align: center;
            }
                 
            .padre {
                display: flex;
                justify-content: center;
                padding-bottom: 20px;


                .card h3 {
                    text-shadow: 5px 5px 15px black;
                }
            

                .card {
                    background-color: #B778AB;
                    color: white;
                    text-align: center;
                    align-items: center;
                    box-shadow: 1px 1px 15px black;
                    border-radius: 20px;
                    width: 400px;
                    margin: 10px;
                    padding: 2rem;
                    font-size: 1rem;


                    @media screen and (max-width:1250px) {
                       max-widthg: 300px;                       
                    }

                    img {
                        color: white;
                    }


                    @media screen and (max-width: 768px) {
                        max-width: 280px;

                        h3 {
                            max-width: 260px;
                        }
                    }
                }
                
                .buton {
                    text-decoration: none;
                    background-color: black;
                    color: white;
                    padding: 15px 0px;
                    width: 150px;
                    margin: 0 auto;
                    border-radius: 20px;
                    display: inline-block;    
                    max-width: 150px;

                    &:hover {
                        transform: scale(1.1);
                    }
                
                }                                        
            }
        }
    }   
    footer {
        background-color: #B778AB;
        width: 100%;
        padding-top: 25px;
        grid-area: footer;
    
         .footercolumns {
            display: flex;
            justify-content: center;
            gap: 50px;

            .footerimg {
                img {
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                        &:hover {
                            transform: scale(1.3);
                        }
                }

                ul li {
                    list-style-type: none;
                    display: inline-block;
                }
                
            }
        
        }
        
        div {
            color: black;

            .imgtel {
              position: relative;
                svg {
                    position: absolute;
                    right: 20px;
                    bottom: 5px;
                }              
            }

            .imglocation {
                position: relative;
                svg {
                    position: absolute;
                    right: 50px;
                    bottom: 5px;
                }
            }

            .imgemail {
                position: relative;
                svg {
                    position: absolute;
                    right: -24px;
                    bottom: 3px;
                }
            }
            
            p {
                font-weight: 700;
            }
        }

    h3 {
        display: flex;
        justify-content: center;
        color: black;
    }
    
    }


    .container {
        color: white;
        text-shadow: 3px 3px 15px black;    
        padding-left: 0;

        .texto-quienes {
            font-family: 'Source Code Pro', monospace;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 50px;

            h4 {
                padding-bottom: 30px;
            }
        }

        .nosotros {
            h2 {
                font-weight: 700;
                padding-left: 40px;
                text-shadow:  3px 3px 15px black; 
            }

            p {
                font-weight: 600;
                padding-left: 40px;
                text-shadow: 2px 2px 10px black;
            }

            img {
                width: 290px;
                height: 300px;
                object-fit: cover;
                border-radius: 300px;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .tps {
        text-align: center;

        h2 {
            text-align: center;
            margin: 30px;
            color: white;
            text-shadow: 3px 3px 15px black;

        }

        .imgtps {
            color: white;           
            font-family: 'Source Code Pro', monospace;
            text-shadow: 5px 5px 15px black;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            text-align: center;

            h3 {
                text-align: center;
            }


            img {
                width: 500px;
                height: 450px;
                margin: 20px;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.1);
                }
             }

            .textp {
                padding-right: 100px;
            }
            
            @media screen and (max-width: 800px) {
                grid-template-columns: 1fr;  
                
                .textp {
                    padding-right: 0px;
                }
            }   
            @media screen and (max-width:550px) {
                img {
                    width: 280px;
                    height: 230px
                 }
            }    
  
        }
    
        
        
        a {        
            @include size-boton(); 
            display: inline-block;
            padding: 3px 5px;
            margin-bottom: 50px;

            &:hover {
                transform: scale(1.1);
            }
        }
        
    
    }
    
    .pr {
        text-align: center;
        color: white;
        text-shadow: 3px 3px 15px black;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px;
        
        .card_pr {
            background-color: #B778AB;
            margin: 20px;
            border-radius: 50px;
            height: 530px;
            display: flex;
            flex-direction: column;
            align-items: center;
         
            .boton-card_pr {
                background-color: black;
                width: 50px;
                border-radius: 20px;
                padding: 10px 50px;
                display: flex;
                justify-content: center;

                 &:hover {
                    background-color: transparent;
                    border: 2px solid  black;
                    }
                    svg {
                    color: white;
                }           
            }
        }

        img {
            width: 400px;
            height: 400px;
            border-radius: 100px;
            transition: all 0.3s;
            padding-top: 5px;
            
            &:hover {
                @include size-boton();
                transform: scale(1);
            }
        }   
        
    }

    @media screen and (max-width: 1450px) {
        .pr { 
                grid-template-columns: 1fr 1fr;     
                img {
                    width: 300px;
                    height: 300px;
                }
                .card_pr {
                    height: 430px;
                }
        }
    
    }
    
    @media screen and (max-width: 800px) {
        .pr { 
            .card_pr {
                width: 240px;
                height: 330px;              
                margin: 20px auto;
                
                h4 {
                    font-size: 1rem;
                }
            }

                grid-template-columns: 1fr;
                img {
                    width: 200px;
                    height: 200px;
                }
        }
    
    }


    
    @media screen and (max-width: 810px) {
        body {
                grid-template-areas: 
                "header"
                "main"
                "servicios"
                "footer";
                grid-template-columns: auto;
        }

        .padre {
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
    }
}




.body-servicios {
    display: grid;
    grid-template-areas: 
    "header"
    "dates"
    "imgservi"
    "footer";
    color: white;
    text-shadow: 3px 3px 15px black;
    overflow-x: hidden;

    .h2servicios {
        text-align: center;
    }

    .dates{
        display: grid;
        grid-template-areas: 
        "datos" "Nservi";
        grid-template-columns: 1fr 1fr;
        margin: 20px;
        
        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
        }   

        legend {
            font-weight: 600;
        }

        .datos {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            input {
                width: 300px;
            }
            
        }
        
        .Nservi {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            #servicios {
                width: 200px;
            }

            #mensaje {
                width: 300px;
            }

            input {
                justify-content: center;
                width: 300px;
            }
        }
    }

    .serviimg {
        text-align: center;
        .imgservi {           
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            img {
                width: 500px;
                margin: 10px;
                
                
            @media screen and (max-width:550px) {
                width: 300px;
            }
            
                &:hover {
                    transform: scale(1.05)  ;
                }
            }
        }
    }   

  
}
    

